@media (max-width: 380px) {
  .formContainer {
    width: 290px;
  }
  .formContainer h1 {
    font-size: 50px;
  }
  .formContainer input[type=text], .formContainer textarea {
    width: 280px !important;
  }
  .formContainer input[type=text]:focus, .formContainer textarea:focus {
    transform: scale(1) !important;
  }
  .messageBox {
    width: 290px;
  }
}
